.container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    height: 300px;
    border: 1px solid red;
}
.container div{
    border: 1px solid rgb(202, 201, 201);
    padding: 10px;
    width: 100px;
}
.box-1{
    flex:1;
    order: 3;
}
.box-2{
    flex:2;
    order: 1;
}
.box-3{
    flex:3;
    order: 2;
}


.container2{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    height: 300px;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}
.container2 div{
    border: 1px solid rgb(202, 201, 201);
    padding: 10px;
    width: 100px;
    height: 20px;
}